.DS_Store
.idea
.vscode
*.vcd
runs
src/sim_build
src/__pycache__/
src/results.xml
src/user_config.tcl
src/myhdl/parser.out
src/myhdl/parsetab.py
tb_bat52_pwm_ddpm_top.gtkw
src/myhdl/work_*
*.pyc
src/myhdl/tb.gtkw
